.header {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 18px 20px 0 20px;
}
.header__searchInput {
  border: none;
  height: 12px;
  padding: 10px;
  width: 100%;
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background: #cd9042;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__nav > a {
  text-decoration: none;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}
.header__optionLineOne {
  font-size: 11px;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  color: white;
  align-items: center;
}
.header__basketCount {
  margin: 0 10px;
  font-size: 15px;
}

.header__nav__dropDown {
  display: none;
}

@media screen and (max-width: 600px) {
  .header__nav {
    height: 150px;
    position: absolute;
    background-color: #131921;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    top: 60px;
    right: 45px;
    z-index: 333;
  }
  .header__nav__dropDown {
    display: block;
    color: white;
    margin: 0 15px 0 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .header__nav__dropDown:hover {
    color: #cd9042;
  }
}
